<launch>

  <!-- Service server -->
  <node name="service_tcp_server" pkg="nimbro_service_transport" type="service_server" output="screen">
    <param name="port" value="6556" />
  </node>

  <!-- Service client -->
  <node name="service_tcp_client" pkg="nimbro_service_transport" type="service_client" output="screen">
    <param name="port" value="6556" />
    <rosparam>
      network:
        # names of the robots have to match hostnames described in /etc/hosts
        robot_names: [uav1, uav2]

      services:
        - name: "/*/control_manager/motors"
          type: std_srvs/SetBool
        - name: "/*/uav_manager/takeoff"
          type: std_srvs/Trigger

    </rosparam>
  </node>
</launch>
